In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [9]:
# load accident csv, convert to df, set index, set columns to lowercase
accident_file = "Resources/ca_accidents.csv"
accident_df= pd.read_csv(accident_file, index_col=0)
accident_df.reset_index(drop=True)
accident_df["id"] = accident_df.index
accident_df.set_index("id", inplace=True)
accident_df = accident_df.rename(columns={"County": "county",
                                     "Crash_count": "crash_count"})
accident_df.head()

       county  crash_count
id
0     Alameda        31236
1      Alpine           22
2      Amador          496
3       Butte          756
4   Calaveras          633

In [10]:
# load income csv, convert to df, set index, set columns to lowercase
income_file = "Resources/cleaned_income.csv"
income_df = pd.read_csv(income_file, index_col=0)
income_df.set_index("id", inplace=True)
income_df = income_df.rename(columns={"med_HHI": "med_hhi"})
income_df.head()

                       full_name  med_hhi     county
id
0     Alameda County, California    92574    Alameda
1      Alpine County, California    64688     Alpine
2      Amador County, California    61198     Amador
3       Butte County, California    48443      Butte
4   Calaveras County, California    58151  Calaveras

In [11]:
# load crime csv, convert to df, set index, set columns to lowercase
crime_file = "Resources/cleaned_crime.csv"
crime_df = pd.read_csv(crime_file, index_col=0)
crime_df["id"] = crime_df.index
crime_df.set_index("id", inplace=True)
crime_copied = crime_df.copy()
crime_copied = crime_copied[['Year', 'Updated_County', 'VehicleTheft_sum', 'Violent_sum']]
crime_copied.columns = ['year', 'updated_county', 'vehicletheft_sum', 'violent_sum']
crime_copied.head()

    year updated_county  vehicletheft_sum  violent_sum
id
0   2016        Alameda             13922        10127
1   2016         Alpine                 1            6
2   2016         Amador                61           92
3   2016          Butte              1021          790
4   2016      Calaveras                97          178

In [12]:
# connect to postgres database
rds_connection_string = "postgres:postgres@localhost:5432/etl_project"
engine = create_engine(f'postgresql://{rds_connection_string}')
engine.table_names()

['crime', 'income', 'accidents']

In [13]:
# send accident df to postgres database
accident_df.to_sql(name='accidents', con=engine, if_exists='append', index=True)

In [14]:
# send income df to postgres database
income_df.to_sql(name='income', con=engine, if_exists='append', index=True)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "income_pkey"
DETAIL:  Key (id)=(0) already exists.

[SQL: INSERT INTO income (id, full_name, med_hhi, county) VALUES (%(id)s, %(full_name)s, %(med_hhi)s, %(county)s)]
[parameters: ({'id': 0, 'full_name': 'Alameda County, California', 'med_hhi': 92574, 'county': 'Alameda'}, {'id': 1, 'full_name': 'Alpine County, California', 'med_hhi': 64688, 'county': 'Alpine'}, {'id': 2, 'full_name': 'Amador County, California', 'med_hhi': 61198, 'county': 'Amador'}, {'id': 3, 'full_name': 'Butte County, California', 'med_hhi': 48443, 'county': 'Butte'}, {'id': 4, 'full_name': 'Calaveras County, California', 'med_hhi': 58151, 'county': 'Calaveras'}, {'id': 5, 'full_name': 'Colusa County, California', 'med_hhi': 56704, 'county': 'Colusa'}, {'id': 6, 'full_name': 'Contra Costa County, California', 'med_hhi': 93712, 'county': 'Contra Costa'}, {'id': 7, 'full_name': 'Del Norte County, California', 'med_hhi': 45258, 'county': 'Del Norte'}  ... displaying 10 of 58 total bound parameter sets ...  {'id': 56, 'full_name': 'Yolo County, California', 'med_hhi': 65923, 'county': 'Yolo'}, {'id': 57, 'full_name': 'Yuba County, California', 'med_hhi': 52624, 'county': 'Yuba'})]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [ ]:
# send crime df to postgres database
crime_copied.to_sql(name='crime', con=engine, if_exists='append', index=True)